@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap');

html,body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin:0;
            padding:0;
  }

  *, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }

  #header {
    background-color:#FAFBFD;
    height: 3.5em;
    left: 0;
    line-height: 3.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  #header h1 {
    height: inherit;
    color:#AB325F;
    font-size:22px;
    line-height: inherit;
    margin: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
  }

  .fa-cocktail:before {
      padding-left:5px;
  }

  .landing-container{
    background-image:url("./landingBg.jpg");
	background-size: cover;
	background-repeat:no-repeat;
    height: 100%;
    width:100%;
  }

  .landingRight-container{
      background-color:#AB325F;
      border-left:3px solid #CCD579;
      height:100%;
      position: absolute;
      right:0;
      width:30%;
      display: flex;
  }

  .landingRight-content{
    background-image:url("./landingContent.jpeg");
    background-size: cover;
    width: 100%;
	background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    margin: 0 auto;
    font-family: 'Montserrat';
  }
  .landingRight-content h2{
      font-size: 3vh;
      letter-spacing: 2px;
      margin-top:40%;
      margin-bottom:10%;
      text-align: center;
  }
  span::before{
      content: 'perfect';
      /* animation: animate infinite 8s; */

  }

  @keyframes animate{
      0%{
          content: 'perfect';
      }
      10%{
        content: 'sweet';
    }
    20%{
        content: 'dry';
    }
     30%{
        content: 'refreshing';
     }
     40%{
        content: 'sparkling';
     }
     50%{
        content: 'affordable';
     }
     60%{
        content: 'fruity';
     }
     70%{
        content: 'red';
     }
     80%{
        content: 'white';
     }
     90%{
        content: 'crisp';
     }
     100%{
        content: 'perfect';
     }

  }

.landing-btns{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.landing-btns button:hover{
  background-color:#B3466F;
}
  .landingRight-container button{
      margin:auto;
	background-color:transparent;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:white;
    font-weight: 300;
    font-size:2vh;
    margin-bottom:20px;
    padding:14px 26px;
    border:2px solid #CCD579;
	text-decoration:none;
  }

#footer{
    font-size: 15px;
    line-height: 2em;
    margin:0;
    padding: 15px;
    text-align: center;
    background-color:#FAFBFD;;
    color:#AB325F;
}

#footer li {
    display: inline-block;
    list-style: none;
    margin-left: 1.5em;
    padding-left: 1.5em;
}

@media screen and (max-width: 1024px){
    .landing-container{
        background-image: url('./landingMobile.jpg')

    }
    .landingRight-container{
        width:45%;
        font-size: auto;
    }
}