/* colors:
header:#DDDAD1
wine:#A92E3E; */

html,body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin:0;
            padding:0;
  }

  *, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }

  #header {

    background-color:#DDDAD1;
    height: 3.5em;
    left: 0;
    line-height: 3.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  #header h1 {
    height: inherit;
    color:#A92E3E;
    font-size:22px;
    line-height: inherit;
    margin: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fa-wine-glass-alt:before {
      padding:10px;
  }

  .landing-container{
    background-image:url("./landingBg.jpg");
	background-size: cover;
	background-repeat:no-repeat;
    height: 100%;
    width:100%;
  }

  .landingRight-container{
      background-color:#A92E3E;
      border-left:2px solid white;
      height:100%;
      position: absolute;
      right:0;
      width:30%;
      display: flex;

  }

  .landingRight-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    margin: 0 auto;
  }

  .landingRight-container button{
	background-color:#DDDAD1;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#A92E3E;
	font-size:14px;
	font-weight:bold;
	padding:14px 26px;
	text-decoration:none;
  }

.lines{
    position: absolute;
    bottom: 60;
    right: 50px;
    width: 120%;
    font-size: 20px;
    height: 100px;
    color: white;
}

.lines hr{
   margin:15px;
}

.about-container{
    height: 100%;
    width:100%;
    background-image:url("./landingAbout.jpeg");
	background-size: cover;
    background-repeat:no-repeat;
    position: relative;
}
.explore-wine{
    border: 2px solid black;
    width: 30%;
    position: absolute;
   top:60px;
   margin: 50px;
}
.taste-wine{
    border: 2px solid black;
    width: 20%;
    position: absolute;
    right: 0;
    margin-top:10%;
    text-align: left;
    margin: 50px;

}
.learn-wine{
    border: 2px solid black;
    width: 30%;
    position: absolute;
    bottom:50px;
    right:0;
    margin: 50px;

}
#explore-header{
    margin:0;
}

p{
    color:white;
}