
  .landingLeft-container{
    background-image:url("../assets/images/landingBg.jpg") ;
    width:70%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background-size: cover;
    background-repeat:no-repeat;
  }

  .landingRight-container{
      background-color:#AB325F;
      border-left:3px solid #CCD579;
      height:100%;
      position: absolute;
      top:0;
      right:0;
      width:30%;
      display: flex;

  }

  .landingRight-content{
    background-image:url("../assets/images/landingContent.jpeg");
    background-size: cover;
    width: 100%;
	background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    margin: 0 auto;
    font-family: 'Montserrat';
  }
  .landingRight-content h2{
      font-size: 3vh;
      letter-spacing: 2px;
      margin-top:40%;
      margin-bottom:10%;
      text-align: center;
  }



.landing-btns{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.landing-btns button:hover{
  background-color:#B3466F;
}
  .landingRight-container button{
    margin:auto;
	background-color:transparent;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:white;
    font-weight: 300;
    font-size:2vh;
    margin-bottom:20px;
    padding:14px 26px;
    border:2px solid #CCD579;
	text-decoration:none;
  }
  @media screen and (max-width: 1024px){
    .landingLeft-container{
        background-image: url('../assets/images/landingMobile.jpg')

    }
    .landingRight-container{
        width:45%;
        font-size: auto;
    }
}