@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
.card-container{
    width: 100%;
    height: 100%;
    padding: 10%;
    background-image: url('../assets/images/mainCard2.jpg');
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-highlight{
    background-color: #fff;
    width: 900px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.card-col{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.card-highlight h2{
    line-height: 1.5;
    text-align: center;
    color: #B3466F;
    margin-top: -10%;
    font-family: 'Montserrat';
    font-weight: 300;
}
.header-title span{
    display: block;
    font-family: 'Courgette', cursive;
    letter-spacing: 2px;
}
img.recipeImage{
    width:300px;

}

.category-name{
    color:black;
    margin:5px;
}

li,p{
    color:black;
}

.col-ingred:first-child{

}

.col-ingred:last-child{
   margin-left: 5px;
    }

.recipeIngredients{
    display: flex;

}

.card-highlight h4{
    font-family: 'Courgette', cursive;
    letter-spacing: 2px;
    color: #B3466F;

}

span, .col-ingred p{
    font-family: 'Montserrat';
    font-weight: 300;
    color:#111;

}

hr{
    width:50%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}