.card-container{
    width: 100%;
    height: 100%;
    padding: 10%;
    background-image: url('../assets/images/mainCard2.jpg');
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;


}

.card-highlight{
    background-color: #fff;
    width: 900px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}


.card-highlight h2{
    text-align: center;
    color:#B3466F;
}
img.recipeImage{
    width:300px;

}

.category-name{
    color:black;
}